.en-tete{
  background-color: #091b3b; 
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sous-en-tete{
  background-color: #e0ecff;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  gap: 105px;
}

.pied-de-page{
  background-color: #040e1f;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.image-de-vetements{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px  
}

.texte-mini-description{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18;
  font-weight: bold;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texte-mini-description p{
  margin-top: 10x;
  margin-bottom: 0;
}

body {
  margin: 0;
}
a {
    color: inherit;        
    text-decoration: none; 
}