.en-tete{
  background-color: #091b3b; 
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sous-en-tete{
  background-color: #e0ecff;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  gap: 105px;
}

.pied-de-page{
  background-color: #040e1f;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.image-de-vetements{
    width: 40px;
}

.section-description{
  display:flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 120px;
}

.texte{
    width: 50%;
    text-align: left;
}

.texte h2{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
    
}

.texte p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    margin: 0;
    
}

body {
  margin: 0;
}
a {
    color: inherit;        
    text-decoration: none; 
}